[build]
rustc-wrapper = "sccache"
incremental = false

[registries.crates-io]
protocol = "sparse"

[target.x86_64-unknown-linux-gnu]
rustflags = [
    "-Clink-arg=-fuse-ld=lld",
    "-Csplit-debuginfo=unpacked",
]

[target.aarch64-apple-darwin]
rustflags = [
    "-Clink-arg=-fuse-ld=lld",
    "-Csplit-debuginfo=unpacked",
]

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 1

[profile.release]
lto = true
strip = true

